.loader{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px dashed whitesmoke;
    animation: rotate 10s infinite linear;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);    
    }   
    to{ 
        transform: rotate(360deg);    
    }
}