.contentWrapper {
    margin: 15px 0;
    background-color: #313537;
    border-radius: 10px;
    padding: 10px;
    min-height: 150px;
    display: flex;
    flex-direction: row;
}

.contentAuthor{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 150px;
    min-width: 150px;
}

.contentSeparator{
    width: 1px;
    margin: -10px 0 -10px 0;
    background-color: aliceblue;
}

.contentAuthorIcon{
    aspect-ratio: 1/1;
    height: 100px;
    width: 100px;
    * {
        height: 100%;
        width: 100%;
    }
}

.contentAuthorUsername{
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contentBody{
    width: 100%;
    min-height: 130px;
    padding-left: 10px;
}