.comment{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 1rem;
    resize: none;
    field-sizing: content;
}

.comment:focus{
    outline: none;
}

.comment::placeholder{
    color: inherit;
}