* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: #484e52;
    min-height: 100vh;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    margin-top: 30px;
    max-width: 1000px;
    h1::first-letter{
        text-transform: uppercase;
    }
}

.post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid whitesmoke;
    margin-top: 15px;
    justify-content: space-between;
    .post__content{
        cursor: pointer;
    }
}

.post-enter {
    transform: translateX(-150px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-150px);
    transition: all 500ms ease-in;
}

.posts__nav {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    margin: 5px 0;
    gap: 10px;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.post__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.post__author{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.post__author__icon{
    *{
        height: 2rem;
        width: 2rem;
    }
}

.post__author__name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post__svg {
    display: flex;
    align-items: end;
    justify-content: center;
    *{
        height: 1rem;
        width: 1rem;
        cursor: pointer;
    }
}

.page {
    padding: 10px;
    border: 1px solid whitesmoke;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #313537;
}

.navbar__links {
    margin-left: auto;

    a,
    a:visited,
    a:hover,
    a:active {
        color: inherit;
        text-decoration: none;
    }
}

.navbar__links a:not(:first-child) {
    margin-left: 10px;
}

/* 1024px */
@media screen and (max-width: 1024px) {
    .App {
        padding: 20px;
    }
}

/* 767px */
@media screen and (max-width: 767px) {
    .App {
        padding: 20px;
    }
}

/* 480px */
@media screen and (max-width: 480px) {
    .App {
        padding: 20px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 20px;
}

.view_switcher_container>button {
    border: 1px solid whitesmoke;
    height: 100%;
    width: auto;
    background-color: inherit;
    padding: 1px;
    cursor: pointer;

    * {
        height: 1.5rem;
        width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}